<footer>
	<div id="footer" class="footer">
		<div class="footer-social">
			<div class="box-button">
				<a href="https://facebook.com/jeferson.limax" target="_blank" title="Facebook">
					<div class="social-button facebook">
						<i class="fa fa-facebook"></i>
					</div>
				</a>
			</div>
			<div class="box-button">
				<a href="http://google.com/+JefersonLimaAlmeida" target="_blank" title="Google Plus">
					<div class="social-button google-plus">
						<i class="fa fa-google-plus"></i>
					</div>
				</a>
			</div>
			<div class="box-button">
				<a href="mailto:jefersonlimaa@dcc.ufba.br?Subject=[Contato%20Website] " rel="publisher" target="_top" title="E-mail">
					<div class="social-button email">
						<i class="fa fa-envelope-o"></i>
					</div>
				</a>
			</div>
			<div class="box-button">
				<a href="https://github.com/jefersonla" target="_blank" title="Github">
					<div class="social-button github">
						<i class="fa fa-github"></i>
					</div>
				</a>
			</div>
		</div>
		<p>
			Created By Jeferson Lima <br />
			A member of the Wiser Research Group UFBA,<br />
			student of Computer Science and fan of penguins 
		</p>
	</div>
</footer>