<header>
	<div class="head">
		<a target="_blank" title="Home" href="/"> <img src="images/logo-small.png"> </a>

		<ul class="menu-left">
			<li> <a title="Página de reviews" href="reviews.html">    Reviews	</a></li>
			<li> <a title="Página de projetos" href="projects.html">  Projetos	</a></li>
			<li> <a title="Página de noticias" href="news.html">      Noticias	</a></li>
			<li> <a title="Página de dicas" href="dicas.html">  	  Dicas		</a></li>
		</ul>

		<ul class="menu-right">
			<li> <a title="Sobre mim" href="about.html">  Sobre Mim	</a></li>
			<li> <a title="Compre componentes eletronicos em Salvador utilizando meu guia" href="lojas.html"> Guia lojas 	</a></li>
		</ul>

		<div id="show-menu"> 
			<a title="Abrir menu" href="#">
				<svg class="icon-menu" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 20 16">
					<title>Menu</title>
					<g class="test">
						<line class="line line--1" x1="2" y1="2" x2="19" y2="2"></line>
						<line class="line line--2" x1="2" y1="8" x2="19" y2="8"></line>
						<line class="line line--3" x1="2" y1="14" x2="19" y2="14"></line>
					</g>
				</svg>
			</a>
		</div>
	</div>
</header>