<header>
	<div class="head">
		<a target="_blank" title="Home" href="/"> <img src="images/logo-small.png"> </a>

		<ul class="menu-left">
			<li> <a target="_blank" title="Página inicial" href="/">   					 Home	</a></li>
			<li> <a target="_blank" title="Sobre mim" href="about.html">   				About	</a></li>
			<li> <a target="_blank" title="Página de projetos" href="projects.html">   Projects	</a></li>
		</ul>

		<ul class="menu-right">
			<li> <a target="_blank" title="Página do grupo de pesquisa que eu participo" href="http://wiser.dcc.ufba.br">  		WISER 	</a></li>
			<li> <a target="_blank" title="Minha conta do Github" href="https://github.com/jefersonla">   GitHub	</a></li>
		</ul>
	</div>
</header>