<head> 
	<!-- System specifications name/language/charset -->
	<meta charset="utf-8" />
	<meta name="language" content="English" />
	<meta name="language" content="Portuguese" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Some non default visualization -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - Lima's Notes</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" href="{{ "/favicons/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ "/favicons/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
	<link rel="manifest" href="{{ "/favicons/manifest.json" | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ "/favicons/favicon.ico" | prepend: site.baseurl }}">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="msapplication-config" content="{{ "/favicons/browserconfig.xml" | prepend: site.baseurl }}">
	<meta name="theme-color" content="#ec0e0e">


	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ "styles/css-reset.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "styles/default.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "styles/font-awesome.min.css" | prepend: site.baseurl }}">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!-- Some description of this site -->
	<meta name="description" content="Blog pessoal, sobre tecnologia, hardware, programação e é claro pinguins" />
	<meta name="twitter:card" content="summary" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="pt_BR" />
	<meta property="og:site_name" content="The Lima's Notes">
	<meta property="article:author" content="Jeferson Lima">
	<meta property="article:published_time" content="date_time">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="200">
	<meta property="og:image:height" content="200">

	<!-- IMPORTANT THINGs THAT NEED TO BE FIXED! -->
	<meta property="og:image" content="..." />
	<meta name="twitter:image" content="favicons/mstile-70x70.png" />
	<meta property="fb:admins" content="626993227409793" />
	<meta property="article:section" content="{{ page.categories }}">
	<meta property="article:tag" content="{{ page.tags }}">
	<meta property="og:description" content="{{ page.description }}"/>
	<meta property="og:url" content="..." />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{{ page.description }}" />

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] ||function(){
					(i[r].q=i[r].q||[]).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; 
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a,m);
		})(window, document, 'script', '//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-67414315-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>