---
layout: default
---
<!-- Artigo -->
<div id="artigo" class="topico">
	<div class="topic-area">
		<div class="titulo">
			<div class="titulo-topico">
				<!-- Titulo -->
				<h1>
					{{ page.title }}
				</h1>
				<!-- Descrição -->
				<h4>
					{{ page.description }}
				</h4>
			</div>
			<div class="info-topico">
				<!-- Autor -->
				<!-- <img alt="Autor" src="images/w.png"> -->
				<div class="info-place">
					<!-- Data e Autor -->
					<p name="big">
						<b> {{ page.data }} </b>
						- Por Jeferson Lima
					</p>
					<!-- Categoria e Tags -->
					<p name="small">
						<b> Categorias </b>
						<i> {{ page.categories }} </i>
					</p>
					<p name="small">
						<b> Tags </b>
						<i> {{ page.tags }} </i>
					</p>
				</div>
			</div>
		</div>
		<article>
			{{ content }}
		</article>
		
		<div id="author-bio">
			<div>
				<img alt="Autor" src="images/author.png">
				<h1>
					Jeferson Lima
				</h1>
				<p>
					Entusiasta de sistemas embarcados, e estudante de Ciência da Computação, com grande conhecimento de hardware e sistema operacionais. Atualmente participa do grupo de pesquisa Wiser UFBA em sua universidade a Universidade Federal da Bahia, realizando trabalhos na emergente area da Internet das Coisas.  
				</p>
			</div>
		</div>

		{% if page.previous.url or page.next.url %}
			<div class="followlinks-posts">
				{% if page.next.url %}
					<div id="next-post">
						<a>
							<img alt="Autor" src="images/author.png">
							<p> this is the next post </p>
						</a>
					</div>
				{% endif %}
				{% if page.previous.url %}
					<div id="prev-post">
						<a>
							<img alt="Autor" src="images/author.png">
							<p> This is the previous post </p>
						</a>
					</div>
				{% endif %}
			</div>
		{% endif %}

		{% include comments.html %}

	</div>

	{% include sidebar.html %}

</div>
