/* The Jeff Notes */
/*
    Version = 1.0
    Country = Brazil
    Git     = jefersonlima
    License = MIT License
*/

/* CSS-RESET */
html, body, div, span, h1, h2, h3, p, a, address, big, cite,
code, del, img, ins, q, small, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer,
header, menu, nav, output, r, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, details,figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
