/* The Jeff Notes */
/*
    Version = 1.0
    Country = Brazil
    Git     = jefersonla
    License = MIT License
*/

html, body{
    min-height: 100% !important;
    height: 100%;
}

.head, .center, .footer{
    margin: 0px auto;
    max-width: 90%;
    /*min-width: 833px;*/
}

/* Header */
header{
    height: 58px;
    background: #F9F9FA repeat scroll 0% 0%;
    border-bottom: 1px solid #D4D4D4;
    /*box-shadow: 0px -2px 6px #111 inset;*/
}

.head img{
    padding-top: 5px;
    float: left;
}

.menu-right{
    float: right;
    margin: 15px 0 0 0;
    border-left: 2px solid #000;
    padding-left: 5px;
}

.menu-right li, .menu-left li{
    display: inline-block;
    margin-left: -5px;
    border-right: 2px solid #000;
    text-align: center;
    width: 100px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Lato;
    cursor: pointer;
}

.menu-right li a:hover, .menu-left li a:hover{
    background-color: #CCCCCC;
    color: black;
}

.menu-right li a, .menu-left li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 100px;
    display: block;
    padding: 7.5px 0 7.5px;
}

.menu-left{
    float: left;
    margin: 15px 0 0 30px;
    border-left: 2px solid #000;
    padding-left: 5px;
}

.comments{
    margin: 0 15px 10px;
}

.comments h3{
    margin: 0px 0px 5px;
    font-family:  "Open Sans",Arial,sans-serif;
    color: #6B6B6B;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #DADADA;
    padding: 3px;
}

.conteudo{
    width: 100%;
}

.center{
    padding: 0 0 130px;
}

.center img{
    margin: 5% 2% 0;
    vertical-align: middle;
    width: calc((100%/5) * 4.7);
}

.topic-area{
    width: -webkit-calc(100% - 312px);
    width: -moz-calc(100% - 312px);
    width: calc(100% - 312px);
    padding-top: 20px;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#author-bio{
    background: #303030 none repeat scroll 0% 0%;
    margin: 30px 0px;
    overflow: hidden;
    padding: 30px;
    border-top: 5px solid #D71E24;
}

#author-bio img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

#author-bio h1{
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-family:  "Open Sans",Arial,sans-serif;
}

#author-bio p{
    margin-top: 5px;
    color: white;
    line-height: 1.5;
    font-family:  "Open Sans",Arial,sans-serif;
}

#artigo article{
    width: 100%;
    float: left;
    color: #4D4E53;
    font-family: "Open Sans",Arial,sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
}

#artigo article p{
    margin-bottom: 23px;
    font-size: 100%;
    text-align:justify;
    padding: 0 15px; 
} 

#artigo article p span{
    display: inline-block;
    width: 30px;
}

.images{
    text-align: center !important;
}

.images strong{
    font-size: 13px;
    font-synthesis: weight style;
    font-weight: 700;
}

.titulo{
    font-family: "Open Sans",Arial,sans-serif;
    color: #6B6B6B;
    height: 70px;
    border-bottom: 5px solid #dadada;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.titulo-topico{
    float: left;
}

.titulo-topico h1{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
}

.titulo-topico h4{
    font-weight: 300;
    font-size: 15px;
    margin: 5px 0 20px;
}

.info-topico{
    font-family:  "Open Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 15px;
    float: right;
    width: 320px;
}

.info-topico img{
    width: 50px;
    height: 50px;
    float: left;
    box-shadow: 0px 0px 3px 0px rgb(228, 64, 64);
    margin-right: 10px;
    border-radius: 3px;
}

.info-topico p{
    margin-bottom: 5px;
}

.info-topico b{
    font-weight: bold;
}

.info-topico i{
    color: red;
}

.info-place p[name="small"]{
    /* margin-top: 5px; */
    font-size: 13px;
}

.info-place p[name="big"]{
    font-size: 14px;
}

.sidebar{
    background-color: #F3F3F3;
    width: 312px;
    float: right;
}

.item-sidebar{
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #F9F9F9;
    padding: 10px;
}

.topico{
    margin-left: 5%;
    width: 90%;
    height: 100%;
    display: inline-block;
    background-color: #fafafa;
    border-right: 1px solid #dadada;
}

#navigation{
    height: 250px;
    background: #666;
    clear: both;
    border-top: 3px solid red;
}

#anuncio{
    background: url("../images/noise.png") repeat scroll 0% 0% #333;
    padding: 0;
    padding-bottom: 10px !important;
}

#anuncio div{
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

#anuncio h4{
    margin: 0px 0px 5px;
    font-family:  "Open Sans",Arial,sans-serif;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 3px;
}

footer{
    box-shadow: 0px 2px 6px #111;
    height: 111px;
    background: url("../images/noise.png") repeat scroll 0% 0% #333;
    clear: both;
}

.footer p{
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 1.3;
    padding-top: 40px;
    text-align: right;
    color: #999;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}


.footer-social{
    float: left;
}

.box-button{
    width: 80px;
    margin-top: 30px;
    float: left;
}

.facebook:hover{
    background-color: #35528A;
}

.google-plus:hover{
    background-color: #CE1B21;;
}

.github:hover{
    background-color: black;
}

.email:hover{
    background-color: orange;
}

.social-button {
    height: 40px;
    text-align: center;
    width: 50px;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    color: grey;
}

.social-button:hover i {
    color: #FFF;
}

#jekyll-love{
    background-color: #111;
    width: 100%;
    padding: 5px 0px;
}

#jekyll-love p{
    text-align: center;
    font-family: "Open Sans",Arial,sans-serif;
    color: #FFF;
    font-size: 15px;
}

#jekyll-love a, #jekyll-love a:visited {
    color: white;
    text-decoration: none;
}

#jekyll-love a:hover, #jekyll-love a:active {
    color: red;
}

@media (max-width: 1150px){
    .titulo-topico {
        display: block;
        float: none;
        margin-bottom: 10px;
    }

    .titulo-topico h4{
        display: none;
    }

    .info-topico{
        display: block;
        width: inherit;
        float: none;
    }

    .info-place p[name="small"]{
        display: inline-block;
    }

    .titulo{
        height: inherit;
    }
}

@media (max-width: 820px){
    .footer-social{
        float: none;
        width: 333px;
        margin: 0px auto;
    }

    #footer p{
        display: none;
    }
}

@media (max-width: 755px){
    #author-bio{
        text-align: center;
    }

    #author-bio img{
        float: none;
        margin-right: 0;
    }
}

@media (min-width: 972px) and (max-width: 1150px){
    .menu-right{
        float: left;
        margin: 15px 0 0 0;
        padding-left: 5px;
        border-left: none;
    }
}

@media (max-width: 971px) and (min-width: 745px){
    .topic-area{
        width: 100%;
        border-right: none;
    }

    .sidebar, .menu-right{
        display: none;
    }
}


#show-menu{
    display: none;
}

.icon-menu {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 32px;
    padding: 13px 5px;
    transition: all 0.2s ease-out 0s;
}

.line {
    transition: 0.4s;
    stroke: #333;
    stroke-width: 1.5px;
    stroke-linecap: round;
    transform: rotate(0) translateY(0) translateX(0);
}

.line--1 {
    transform-origin: 2px 2px; 
    -webkit-transform-origin: left;
}

.line--3 {
    transform-origin: 2px 14px;
    -webkit-transform-origin: left;
}

.fecha{
    transition: all 0.2s ease-out 0s;
}

.icon-menu:hover .line--2, .fecha .line--2 {
    opacity: 0;
}

.icon-menu:hover .line--1, .fecha .line--1 {
    transform: rotate(45deg) translateY(-2px) translateX(2px);
    margin-right: 2px;
}

.icon-menu:hover .line--3 , .fecha .line--3 {
    transform: rotate(-45deg) translateY(2px) translateX(2px);
    margin-right: 2px;
}

.fecha {
    background-color: #333;
}

.fecha .line{
    stroke: white !important;
}

@media (max-width: 744px){
    .menu-left, .menu-right, .sidebar{
        display: none;
    }

    #show-menu{
        display: inline-block;
        float: right;
    }

    .head{
        max-width: 95%;
    }

    .topico{
        margin: 0;
    }

    .conteudo, .topic-area, .topico{
        width: 100%;
        border: none;
    }
}